torch==1.9.0+cu111
torchvision==0.10.0+cu111
git+https://github.com/Bartzi/pytorch-training.git
statsmodels==0.12.2
csaps==1.0.4
Flask==2.0.1
h5py==3.4.0
imgaug==0.4.0
ipython==7.27.0
kornia==0.5.10
MedPy==0.4.0
ml-collections==0.1.0
numpy==1.21.2
opencv-python-headless==4.5.3.56
pandas==1.3.3
Pillow==8.3.2
protobuf==3.18.0
pycocotools==2.0.2
pytest==6.2.5
pytorch-fid==0.2.0
PyYAML==5.4.1
requests==2.22.0
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-pytorch==0.7.1
tqdm==4.62.2
